#block {
  background: #00ffff;
  width: 100%;
  float: left;
  border: 1px solid #008000;
}

#block #blockul {
  margin: 0;
  padding: 0;
  background: #ffe4c4;
  width: 20%;
  float: left;
}

#block #blockp {
  margin: 0;
  padding: 0;
  background: #a9a9a9;
  float: right;
  width: 80%;
}

@media (max-width: 700px) {
#block #blockul {
  width: 150px;
}

  #block #blockp {
     width: 100%;
  }
}