
footer {
  position: fixed;
  width: 100%;
  height: 70px;
  background: #32cd32;
  right: 0;
  bottom: 0;
}



#float {
  background: #7fffd4;
  height: 100px;
  width: 200px;
  float: left;
  margin: 10px;
}

#clear {
  background: #ffe4c4;
  clear: left;
}