
footer {
  position: fixed;
  width: 100%;
  height: 70px;
  background: #32cd32;
  right: 0;
  bottom: 0;
}

 #wrapper{
  background-color: #00ffff;
}

#leftblock {
  background: #ffe4c4;
  float: left;
  width:  20%;
}

#rightblock {
  background: #a9a9a9;
  margin-left: 20%;
}
